@font-face {
  font-family: "pretendard";
  src: url(./libs/fonts/PretendardVariable.ttf);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 70px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1500px;
  min-width: 500px;
  min-height: 80vh;
  padding: 50px 40px 50px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.main-box {
  display: flex;
  flex-direction: row;
  @media (max-width: 900) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.main-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 30px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 0px;
}
